<!DOCTYPE html>

<html>
    <head>
        <title>Hello world</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <dive class="main-content">
            {{>header}}
            <form>
                <input placeholder="Enter your name">
                <button>search</button>
            </form>

            <p id = 'message-1'></p>
        </dive>
       {{>footer}}
       <script src="/js/app.js"></script>
    </body>
</html>